@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');

body {
    font-family: 'Noto Sans', sans-serif;
}

.container {
    width: 940px;
    margin: 0 auto;
}

.navMenu {
    display: flex;
    font-size: 18px;
    justify-content: space-between;
    padding: 33px 0;
}

.navMenuItem {
    color: #828282;
}

.navMenuItem:active, .navMenuItem:hover {
    color: #000;
}

.promo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 0 40px 0;
}

.promoName {
    max-width: 130px;
    font-size: 35px;
    font-weight: 700;
}

.promoProfession {
    max-width: 200px;
    font-size: 18px;
}

.promoLang {
    writing-mode: vertical-lr;
    transform:rotate(180deg);
}

.promoImg {
    padding-bottom: 105px;
}

.about {
    background-color: #F6F6F6;
    padding: 120px 0 110px 0;
    text-align: center;
}

.sectionTitle {
    max-width: 600px;
    margin: 0 auto 60px;
    font-size: 35px;
    font-weight: 700;
}

.aboutBody {
    margin: 0 auto 40px;
    max-width: 600px;
    font-size: 18px;
}

.aboutBody:last-child {
    margin: 0 auto 0;
}

.skills {
    padding: 90px 0 110px 0;
    text-align: center;
}

.skillsBody {
    font-size: 18px;
    margin-bottom: 80px;
}

.skillsArea {
    width: 940px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.skillsItemImg {
    margin-bottom: 24px;
}

.skillsItemName {
    font-size: 14px;
    color: #828282;
    margin-bottom: 40px;
}

.skillsItemRatingStar {
    margin-right: 9px;
}

.skillsItemRatingStar:last-child {
    margin-right: 0;
}

.portfolio {
    text-align: center;
    background-color: #F6F6F6;
    padding: 113px 0 96px 0;
}

.portfolioImg {
    margin-bottom: 40px;
}

.portfolioTitle {
    display: block;
    margin-bottom: 100px;
    text-decoration: underline;
}

.portfolioTitle:last-child {
    margin-bottom: 0;
}

.contacts {
    text-align: center;
    padding: 115px 0 120px 0;
}

.contactsInfo {
    font-size: 18px;
    margin-bottom: 43px;
    line-height: 26px;
}

.contactsButton {
    padding: 13px 30px;
    color: #FFF;
    background-color: #000;
    border-radius: 50px;
    font-size: 18px;
}

.contactsSocial {
    margin: 86px auto 0 auto;
    display: flex;
    width: 345px;
    justify-content: space-between;
}

.contactsSocialInfo {
    color: #828282;
    margin-top: 45px;
    line-height: 20px;
}